:root {
  --primary-color: #202020;
  --secondary-color: #1b1b1b;
  --third-color: #e84e7b;
  --branding-color: #ffffff;
  --main-font-family: "Roboto" sans-serif;
  --secondary-font-family: "Montserrat", sans-serif;
}

body {
  background: #1b1b1b;
}

h2 {
  font-size: 45px;
  text-align: center;
}

p {
  font-size: 16px;
  line-height: 30px;
  text-align: center;
}

.hero {
  background: var(--primary-color);
  text-align: center;
  padding: 100px 84px;
}

.hero h1,
h2 {
  color: var(--branding-color);
  font-family: var(--main-font-family);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.hero h1 {
  font-size: 72px;
  line-height: 85px;
}

.hero h2 {
  font-size: 25px;
  line-height: 28px;
}

.hero p {
  color: var(--branding-color);
  font-family: var(--main-font-family);
  font-size: 18px;
  line-height: 30px;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 50px;
  color: #272142;
  font-family: var(--secondary-font-family);
  font-size: 14px;
  font-weight: bold;
  line-height: 17px;
  padding: 18px 30px;
  margin-top: 30px;
  text-transform: uppercase;
}

.content {
  background: var(--secondary-color);
  color: var(--branding-color);
  text-align: center;
}

.btn-branding-outline {
  border: 1px solid var(--branding-color);
  border-radius: 50px;
  color: var(--branding-color);
  font-family: var(--secondary-font-family);
  font-size: 14px;
  font-weight: bold;
  line-height: 17px;
  padding: 18px 30px;
  margin-top: 30px;
  text-transform: uppercase;
}

.project-description {
  padding: 120px 60px;
}

.content-container {
  font-family: var(--main-font-family);
  background: var(--secondary-color);
  color: #ffffff;
  padding: 60px 84px;
}

.content-container h1 {
  font-size: 64px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.content-container h3 {
  color: var(--third-color);
  font-size: 18px;
  letter-spacing: 0.1em;
  line-height: 80px;
  text-transform: uppercase;
}

.content-container p {
  font-size: 18px;
  font-weight: normal;
}

.facebook-icon,
.instagram-icon,
.linkedin-icon {
  padding: 0px;
}

.content p {
  font-size: 15px;
}

.contact-title h3 {
  font-size: 14px;
  margin: 0;
}

.logo {
  max-height: 22px;
}

nav {
  padding: 20px 0;
}

nav ul {
  padding: 0;
}

nav li {
  display: inline;
  color: var(--branding-color);
  line-height: 42px;
  list-style: none;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: var(--branding-color);
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--third-color);
}

footer {
  margin: 60px 0;
}

footer .contact-box {
  background: var(--primary-color);
  padding: 30px;
  margin: 20px 70px;
  border-radius: 10px;
}

footer .logo-two {
  padding-left: 113px;
}

footer .email-link {
  text-decoration: none;
  color: var(--branding-color);
  font-size: 24px;
  text-align: center;
  margin-left: 55px;
}

footer .email-link:hover {
  color: var(--third-color);
}

.social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  background: var(--secondary-color);
  font-size: 20px;
  padding: 10px;
  transition: all 100ms ease-in-out;
}

.social-links a:hover {
  color: var(--third-color);
}

@media (max-width: 576px) {
  h2 {
    font-size: 28px;
    margin-top: 40px;
    text-align: center;
  }

  .hero,
  .content {
    text-align: center;
  }

  .hero h1 {
    font-size: 30px;
  }

  .hero h2 {
    font-size: 20px;
  }

  .project-description {
    padding: 10px 60px;
  }
}
